rikaichamp-backend/data/inspect_json.py
rikaichamp-backend/yarn-error.log
rikaichamp-backend/node_modules
rikaichamp-backend/src/tests
.directory
.idea
rikaichamp-backend/web_page/my_attempt.html
__pycache__
